<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Product details</title>
</head>
<body>

    <form th:action="@{/createCustomer}" th:object="${customer}" method="POST" >

        <label for="CustomerID">Customer ID</label>
        <input type="text" id="CustomerID" th:field="*{id}"/><br/>

        <label for="CompanyName">Company Name</label>
        <input type="text" id="CompanyName" th:field="*{companyName}"><br/>

        <label for="ContactName">Contact Name</label>
        <input type="text" id="ContactName" th:field="*{contactName}"><br/>

        <label for="ContactTitle">Contact Title</label>
        <input type="text" id="ContactTitle" th:field="*{contactTitle}"/><br/>

        <label for="Address">Address</label>
        <input type="text" id="Address" th:field="*{address}"/><br/>

        <label for="City">City</label>
        <input type="text" id="City" th:field="*{city}"/><br/>

        <label for="Region">Region</label>
        <input type="text" id="Region" th:field="*{region}"/><br/>

        <label for="PostalCode">Postal Code</label>
        <input type="text" id="PostalCode" th:field="*{postalCode}"/><br/>

        <label for="Country">Country</label>
        <input type="text" id="Country" th:field="*{country}"/><br/>

        <label for="Phone">Phone</label>
        <input type="text" id="Phone" th:field="*{phone}"/><br/>

        <label for="Fax">Fax</label>
        <input type="text" id="Fax" th:field="*{fax}"/><br/>

        <button  type="submit"> Submit </button>

    </form>

</body>
</html>